	@charset "utf-8";
	* {box-sizing: border-box;}

	body {
		background-color: #1E1E1E;
		margin: 0;
		color: #F7F7F7;
		font-family: Microsoft JhengHei;
		font-size:24px
	}
	span.small {
  		font-size: 16px;
	}
	#Logobar {
	  overflow: hidden;
	  background-color: #1E1E1E;
	  padding: 5px 5px;
	  transition: 0.5s;
	  position: fixed;
	  width: 100%;
	  top: 0;
	  z-index: 99;
	}

	#Logobar a {
	  float: left;
	  color: #37a580;
	  text-align: center;
	  padding: 5px 5px;
	  text-decoration: none;
	  font-size: 10px; 
	  border-radius: 5px;
	}

	#Logobar #logo {
	  font-size: 32px;
	  font-weight: bold;
	  transition: 0.5s;
	}

	#Logobar a:hover {
	  background-color: #ddd;
	  color: #F7F7F7;
	  transition: 0.5s;
	}


	#Logobar a.active {
	  background-color: DodgerBlue;
	  color: #F7F7F7;
	}

	#Logobar-left {
	  float: left;
	}
	
	#result{
	  text-align: center;
	  float: center;
	}

	#bottombar {
	  background-color: #222;
	  position: fixed;
	  bottom: 0px;
	  width: 100%;
	  height: 48px;
	  display: block;
	  transition: bottom 0.3s;
	}

	#bottombar a {
	  width: 20%;
	  float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 8px;
	  text-decoration: none;
	}

	#bottombar a:hover {
	  background-color: #ddd;
	  color: black;
	}
	
	#object {
		text-align: center;
	}
	a:link {
		text-decoration:none;
		color:#9BB6DF;
	}
	a:visited {			
		color:#906F51;
	}
	a:hover {
		color:#906F51;
		text-decoration:underline;
	}
#WRAPPER {
    margin:0 auto;
    width:100%;
    padding:0 5px;
    overflow:hidden; /* 當內部有 <div> 使用 float 的時候，父層的 <div> 高度會壞掉 */
                     /* 使用 overflow:hidden; 是最簡單破解這個問題的方法 */
}
 
#SIDE {
    width:30%; /* <div> 要設定寬度，才能配合 float 做水平靠左或靠右排列 */
    float:left; /* 使用 float 讓這個 <div> 做水平靠左排列 */
 
}
 
#CONTENT {
    width:auto; /* 設定 auto 就會自動伸縮，這是 <div> 的預設值，所以可以省略不寫 */
    margin-left:30%; /* 上面的 #SIDE <div> 寬度是 170px */
                           /* 這個 #CONTENT 設定左間距可以避免多出來的內容文字和上面的 <div> 重疊 */
