@charset "utf-8";
body {
    background: rgba(0%,0%,0%,0.99);
    color: green;
    font-family: sans-serif, "微軟正黑體";
}
.title {
    font-weight: bold;
    font-size: 18px;
}
.status {
    transition: 0.5s;
    float: right;
    font-size: 18px;
    padding: 3px;
    font-weight: bold;
}

/* Style the tab */
div.tab {
    width: auto;
    position: absolute;
    right: 5px;
    bottom: 5px;
    transition: 0.5s;
    overflow: hidden;
    border: 2px solid #ccc;
    background: rgba(15%,15%,15%,0.8);

}

/* Style the buttons inside the tab */
div.tab button {
    width: 60px;
    background: rgba(0%,0%,0%,0);
    color: white;
    float: left;
    border: none;
    outline: none;
    margin:0px auto;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 18px;

}

/* Change background color of buttons on hover */
div.tab button:hover {
    background: rgba(0%,0%,0%,0.7);;
}

/* Create an active/current tablink class */
div.tab button.active {
    background: rgba(34, 105, 6, 0.7);
}

/* Style the tab content */  
.tabcontent {
    color: white;
    transition: 0.5s;
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;

}

/* 讀取棒 */
#sireProgress {
  width: 100%;
  background-color: #ddd;
}

#sireBar {
  width: 0%;
  height: 5px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
