@charset "utf-8";
body {
    background: rgba(0%,0%,0%,0.99);
    color: green;
    font-family: sans-serif, "微軟正黑體";
}
.title {
    font-weight: bold;
    font-size: 18px;
}
.status {
    transition: 0.5s;
    float: right;
    font-size: 18px;
    padding: 3px;
    font-weight: bold;
}

/* Style the tab */
div.tab {
    width: auto;
    position: fixed;
    right: 5px;
    bottom: 5px;
    transition: 0.5s;
    overflow: visible;
    border: 2px solid #ccc;
    background: rgba(10%,10%,10%,0.8);

}

/* 菜單按鈕 */
div.tab button {
    width: 60px;
    background: rgba(0%,0%,0%,0.0);
    color: white;
    float: left;
    border: none;
    outline: none;
    margin:0px auto;
    cursor: pointer;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 18px;

}

/* 菜單按鈕 滑動特效 */
div.tab button:hover {
    background: rgba(0%,0%,0%,0.9);
}

/* 菜單按鈕 按下特效 */
div.tab button.active {
    background: rgba(55, 167, 11, 0.5);
}
/* 菜單內頁面 */
.tabcontent {
    background: rgba(100%,100%,100%,0.0);
    color: white;
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;

}

/* 讀取棒 */
#sireProgress {
    width: 100%;
    background-color: #ddd;
}

#sireBar {
    width: 0%;
    height: 5px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

/* 菜單按鈕 滑動特效 */
*.utube {
    width: 72px;
    height: 40px;
    position: fixed;
    left: 5px;
    bottom: 5px;
    transition: 0.5s;
    overflow: visible;
    border: 2px solid #ccc;
    background: rgba(10%,10%,10%,0.8);
}
